<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>


<body>
<main class="container">

  <div class="left-side">

                    
    <div>
    <a href="/signup"><button>SIGH UP</button></a>
    </div>

    <div>
    <a href="/login"><button>LOGIN</button></a>
    </div>

</div>

<div class="right-side">
<div><h1>LEVEL UP</h1></div>

<p>track yout fitness</p>
<div><h2>>>></h2></div>
</div>
</main>
</body>
  <%- include("partials/footer.ejs") %>